{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% blocktranslate with name=opts.verbose_name %}Upload {{ name }}{% endblocktranslate %}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="general_error">
      {{too_many_error}}
    </div>
    <div class="general_info">
      {{info}}
    </div>
    <table class="error-list-table" border="1">
      <tr>
        <th>{% translate 'Row No' %}</th>
        {% for field_name in field_names %}
          <th>{{ field_name }}</th>
        {% endfor %}
        <th>{% translate 'Error Message' %}</th>
      </tr>
      {% for csv_log in csv_logs %}
        <tr>
          <td>{{ csv_log.row_no }}</td>
          {% for value in csv_log.row_content %}
            <td>{{ value }}</td>
          {% endfor %}
          <td>{{ csv_log.message }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
